.appointment{
    background-image: url(../../Assets/Desktop/Citabg.jpeg);
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;

    &__header{
        display: flex;
        justify-content: center;
        color: white;
        display: flex;
        align-items: center;
        height: 40vh;

        h1{
            font-size: 50px;
            text-align: center;
            padding-bottom: 3rem;
        }
    }

    &__container{
        background-color: white;
        height: 100%;
        display: flex;
        justify-content: space-between;

        &__map{
            width: 33%;
        }

        &__meet{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 33%;

            &__individual{
                display: flex;
                padding: 1rem 0;
                display: flex;
                flex-direction: column;
                align-items: center;

                p{
                    text-align: left;
                }

                svg{
                    color: #54C4CC;
                    margin-left: 1rem;
                    margin-bottom: 1rem;
                }
            }
        }

        &__pitch{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 8%;
            width: 33%;
        }
    }
}